@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins",sans-serif;
}

:root{
    --firstcolor:white;
    --secondcolor:black;
    --thirdcolor:skyblue;
    --fourthcolor:rgb(123, 255, 125);
}

h2,p,img,form,.button{
    animation: animate ease-in-out both;
    animation-timeline:view();
    animation-range: entry 30% cover 50%;

}
@keyframes animate{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.navbar-nav li a:hover{
    color: salmon;
    transition: 0.5s;
}


.main{
    display: inline-flex;
    min-height: 90vh;
    justify-content: flex-start;
    align-items: center;
}
.main .color{
    /* color: rgb(140, 255, 25); */
    color: var(--fourthcolor);
}
.main .btn button{
    background-color: skyblue;
    border: none;
    border-radius: 7px;
    transition: 0.5s;
}
.main .btn button:hover{
    background-color: #128fc9;
    /* color: #fff; */
    color: rgb(247, 222, 200);
    transition: 0.5s;
}

.container-fluid .product-head{
    transition: 0.5s;
}
.product-head hr{
    display: block;
    margin: auto;
    background-color: rgb(186, 19, 0);
    height: 4px;
    width: 200px;
}
.product-head:hover{
    transform:translateY(-10px);

}

/* .card img:hover{
    transform: scale(0.9);
    transition: 0.4s;
    box-shadow: 4px 4px 20px rgb(100, 92, 92);
                inset: 4px 4px 20px rgb(181, 220, 217);
} */

.card img{
    object-fit: cover;
    height: 450px;
    transition: 0.4s;
    border-radius: 5px;
}


.story-img img{
    width: 440px;
    height: 440px;
    object-fit: cover;
}

.story span{
    font-family:cursive;
}

.button:hover{
    background-color: black;
    color:white;
    transition: 0.5s;
}