@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}


.navbar {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.bg-image{
    color: white;
    height: 100vh;
    /* background-image: url('../img/bg.jpg'); */
    background-image: url('../img/bg2.jpg');
    background-size: cover;
}

.navbar .logo {
    display: none;
    font-size: 30px;
}

.list ul {
    list-style: none;
    display: flex;
    margin-top: 10px;
}

.list ul li a {
    color: rgb(255, 255, 255);
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

.list ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 253, 253);
}

.list ul li a.active {
    background-color: #675cff;
    color: #fff;

}

.dashboard .icon i {
    margin: 5px;
    cursor: pointer;
    color: rgb(255, 248, 248);
}

.head-text {
    padding-top: 150px;
    text-align: center;
}

.top {
    color: rgb(254, 205, 58);
    padding-top: 10px;
    font-size: 20px;
    font-style: italic;
}

.container {
    min-height: 100vh;
}

/* Menu section  */

.menu{
    margin-top: 50px;
}
.menu .menu-text{
    text-align: center;
    font-size: 25px;
}
.menu-filter{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-filter .menu-buttons button{
    padding: 8px 20px;
    /* background: transparent; */
    color: #0f0e0e;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin: 10px;
    font-size: 17px;
}
.menu-buttons button:hover{
    background-color: #000;
    color: #fff;
}
.active{
    background-color: #bd6fdf;
    color: black;
}

.item .img-expand {
    width: 25em;
    margin: 1em;
}

.item .img-shrink {
    width: 0;
    margin: -1em;
}

/* Menu section End*/




/* Fav Item Part  */

.favDishes-text{
    background-color: #000;
    color: #fff;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fav-text{
    padding: 30px;
    font-size: 30px;

}

.fav-items{
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.fav-item img{
    /* max-width: 100%; */
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.fav-item .fav-item-text{
    text-align: center;
}

.slider{
    text-align: center;
    margin-top: 30px;
}
.slider i{
    cursor: pointer;
    margin-left: 20px;
}


/* fav items part end  */


.items {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    display: inline;
    padding: 10px;
}

.item img {
    width: 350px;
    height: 290px;
    object-fit: cover;
    margin: 10px;
}

.item h4,
p,
.cart {
    margin-left: 10px;
    font-size: 20px;
    display: flex;
}

.price p{
    margin-top: 20px;
    float: left;
    color: red;
    font-size: 19px;
}


.cart button {
    border-radius: 20px;
    margin-left: 120px;
    padding: 8px 15px;
    cursor: pointer;
    border: 1px solid teal;
    transition: 0.5s;
}

.cart button:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: 0.5s;
}


/* Fav Item Part End  */


/* About Part  */


.about{
    background-color: rgb(27, 25, 25);
    margin-top: 20px;
    min-height: 150vh;
}
.about .img-box img{
    padding: 20px;
    width: 600px; 
    float: left;
}

.detail-box {
    padding-top: 100px;
    color: #fff;
}
.detail-box button{
    margin-top: 30px;
    background-color: orange;
    color: #0e0d0d;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}



/* About Part End  */

/* Services Page  */

.services{
    background-color: rgb(255, 231, 10);
}

.services-text{
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

.services-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 15px
}
.services-data-info{
    text-align: center;
    padding-bottom: 30px;
}

/* Services Page End  */


/* About Section  */

footer{
    /* background-image: url('https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    background-color: rgb(239, 255, 200);
    background-size: cover;
    width: 100%;
    /* margin: 40px 0 20px 30px; */
}
.contact-text{
    text-align: center;
    font-size: 40px;
}
.contact-text p{
    margin-left:60px;
    font-size: 17px;
    margin-bottom: 10px;
}

form{
    text-align: center;
    width: 100%;
    
}
form p{
    margin-top: 20px;
    margin-left: 25%;
    font-size: 17px;
}
form input,textarea{
    padding: 10px;
    width: 50%;
    border: none;
}
#btn{
    background: transparent;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    color: #020202;
    margin-bottom: 40px;
    cursor: pointer;
}
#btn:hover{
    background-color: #090808;
    color: rgb(255, 252, 252);
}


hr{
    background-color: lawngreen;
    height: 2px;
    padding: 1px;
    border: none;
    cursor: pointer;
}
hr:hover{
    background-color: rgb(6, 178, 240);
}
.social-icon i{
    margin: 7px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 30px;
}
.social-icon i:hover{
    color: #675cff;
    transform: translateY(-10px);
    transition: 0.4s;
}

.social-icon,.copyright-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.copyright-text p{
    color: #0d1602;
    font-size: 17px;
}